@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
/*Mi fuente para los títulos y el logo*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*Mi fuente para el resto de textos*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

body{
    margin: 0;
    padding: none;
    background-color: white;
    font-size: 12pt;
}

ul{
    list-style: none;
}

header{
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

header nav{
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(68, 165, 68);
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
    border-radius: 1em;
}

nav a:hover, section a:hover{
    padding: 22px;
    box-shadow: 4px 3px 3px black;
    transition: 0.3s;
    color: black;
}

header input{
    padding: 20px; 
}

header button{
    padding: 20px;
    cursor: pointer;
}

video{
    height: 100%;
}

.logo{
    display: inline;
    width: 15%;
    height: 100px;
    margin: auto;
    position: relative;
    float: left;
}

#video-div{
    z-index: 1;
    background-color: rgba(5, 5, 5, 0.548);
    width: 30%;
    margin: auto;
    text-align: center;
    color: white;
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 1em;
}


#video-div h2, #tarta h2, #fideos h2{
    font-size: 20pt;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
}
/*Aquí pongo la fuente para el p del vídeo*/
#video-div p {
    text-align: center;
    margin-bottom: 80px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16pt;

}
/*Aquí separe tarta y fideos para que tengan sus propiedades aparte*/
#tarta p, #fideos p{
    text-align: justify;
    margin-bottom: 80px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12pt;
}

/*También cambié la tipo*/
#video-div a, #fideos a, #tarta a{
   background-color: rgb(68, 165, 68);
   padding: 20px;
   text-decoration: none;
   color: white;
   transition: 0.3s;
   border-radius: 1em;
   font-family: 'IBM Plex Sans', sans-serif;
}

#video-div a:hover{
    padding: 22px;
    transition: 0.3s;
    color: black;
    font-size: 13pt;
}
#fondo{
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

section div{
    display: inline-block;
    width: 40%;
    color: white;
    margin-left: 6%;
    height: 200px;
    padding-bottom: 10px;
    margin-top: 80px;
    border-radius: 1em;
}

#tarta{
    background-image: url(../img/tarta.webp);
    background-size: cover;
}

#fideos{
    background-image: url(../img/fideos.webp);
    background-size: cover;
}

#fideos p, #tarta p{
    margin-bottom: 50px;
}

#fideos a, #tarta a{
    margin-left: 10px;
}
/*Aquí empieza el footer*/
footer, section{
    background-color: rgb(173, 202, 173);
}

footer{
    padding: 1cm;
}

footer h3{
    font-size: 19pt;
    text-align: center;
    padding: 20px;
    background-color: rgba(54, 133, 54, 0.473);
    font-family: 'IBM Plex Sans', sans-serif;
}

footer p{
    font-size: 13pt;
    text-align: right;
    padding-top: 20px;
}

footer div{
    display: flex;
}

footer img{
    width: 20%;
    transition: 0.2s;
    cursor: pointer;
}

footer img:hover{
    transform: scale(1.2);
    transition: 0.2s;
}
/*Aquí pongo las columnas*/
.columna1{
    width: 20%;
    display: inline-block;
    margin-left: 150px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 'IBM Plex Sans', sans-serif;
}
.columna1 h1{
    font-size: 'IBM Plex Sans', sans-serif;
}
/*Intento de alargar el footer*/
.footer2{
    background-color: white;
    margin-top: 20px;
    border-radius: 1em;
    font-size: 'IBM Plex Sans', sans-serif;
}

@media (max-width: 900px) {


    .logo{
        width: 40%;
    }

    

    nav a{
        width: 10%;
        padding: 20px;
        text-align: left;
        margin: 0;
    }

    #video-div{
        width: 80%;
    }



}